:root {
    --white-color : #fff;
    --black-color : #000;
    --background-color : #00023a;
    --button-color : #07e1ff;
    --description-color : #333;
    --price-background-color :#222499;

    
    --header-height : 52px;
    --header-button-height : 44px;
    --subnav-height : 48px;
    --subnav-line-height : 4px;

    /* Product Page */
    --product-image-size: 460px;

    /* Login Signup Page */
    --login-header-height : 70px;
    --signup-header-height : 60px;
    


}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -8px;
    margin-top: 10px;
}

.grid__column-2 {
    width: calc((100% / 12) * 2);
    padding: 0 5px;

}

.grid__column-10 {
    width: calc((100% / 12) * 10);
    padding: 0 5px;
}

.grid__column-2-of-10 {
    width: 25%;
    padding: 0 8px;
    margin-bottom: 16px;

}