.game_wrap {
    margin-top: var(--header-height);
    padding-top: 40px;
    padding-bottom: 50px;
}

.product-container{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.product-information-header {
    display: flex;

}

.product-image {
    width: 300px;
    height: 300px;
    padding: 40px 20px 20px 40px;
}
.product-image img {
    width: 100%;
    border: 4px solid rgb(15, 15, 126);
}

.product-content {
    flex: 1;
    padding: 40px 40px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-infomation {
    
}

.product-name {
    font-size: 38px;
}
.product-author,
.product-download-count {
    font-size: 20px;
}
.product-rating {
    margin-left: 20px;
    font-size: 18px;
}
.product-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-flex-box-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    margin-top: 10px;
    color: var(--white-color);
    background-color: var(--price-background-color);
    padding: 8px 6px;
    width: 60px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
}

.product-category {
    margin-top: 12px;
    font-size: 19px;
    text-align: justify;
}

.product-download-button {
    margin-top: 20px;
    

}
.product-download-link {
    font-size: 20px;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--price-background-color);
    text-align: center;
    padding: 18px;
    border-radius: 4px;

}
.product-description {
    padding: 10px 40px 20px 40px;
}
.product-description-1,
.product-description-2 {
    font-size: 20px;
    text-align: justify ;
}

.product-description-image {
    margin: 30px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-description-image img {
    width: 76%;


}

.product-review {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 40px;
}

.reiview-title {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.product-comment {
    display: flex;
    margin-top: 20px;
}

.comment-avt {
    width: 100px;
}
.comment-avt img {
    width: 100%;
    border-radius: 50%;
}

.comment-container {
    flex : 1;
    padding-left: 20px;
}

.comment-name {

}

.comment-rating {

}

.comment-content {
    margin-top: 4px;
    text-align: justify;
}
